body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  

  @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
  .site-navigation {
    background-image: url(wallpapersden.com_building-lights-illustration-artstic_7680x4320.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .site-navigation li {display: inline-block;}
  .site-navigation li:after {
    content: "|";
    color: #a279b5;
    display: inline-block;
    vertical-align:top;
  }
  .site-navigation li:last-child:after {content: none;}
  .site-navigation a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .site-navigation a, .site-navigation a:visited {color: #a279b5;}
  .site-navigation a.current, .site-navigation a:hover{color: #a279b5;}
  .site-navigation a:before,
  .site-navigation a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #a279b5;
    transition: .8s;
  }
  .site-navigation a:hover:before, .site-navigation .current:before {left: 0;}
  .site-navigation a:hover:after, .site-navigation .current:after {right: 0;}   
  @media (max-width: 550px) {
  .site-navigation {padding-top: 0;}
  .site-navigation li {display: block;}
  .site-navigation li:after {content: none;}
  .site-navigation a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }


  h1, h2, h3 {
    margin: 0;
    font-weight: 700;
  }

  h3 {
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  header {
    background-image: url(wallpapersden.com_building-lights-illustration-artstic_7680x4320.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

  h1 {
    color: #a279b5;
    margin: 0;
  }

  .main_me h1 {
    color: #a279b5;
    margin: 0;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .site-navigation {
    display: flex;
    justify-content: space-between;
  }
 
  .site-navigation-item {
    margin-right: 20px;
  }
  
  .site-navigation-item a {
    color: #a279b5;
  }
  
  .site-navigation-item a.active {
    font-weight: bold;
  }

.grid-container {
    display: grid;
    backdrop-filter: blur(3px);
    grid-template-columns: 1.5fr 0.5fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .hero {
    padding: 20px;
    position: relative;
    background-image: url(26.Jun.2019-kosmicheskie-zvezdy-v-galaktike.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .backgroung_about_me {
    backdrop-filter: blur(3px);
    padding: 20px;
   
  }
  
  .backgroung_about_me img {
    max-width: 100%;
   border-radius: 10%;
    justify-self: center;
  }
  
  .main_me {
    position: relative;
    top: 50%;
    padding: 20px;
    color: #ffffff;
  }
  
  
  .article {
    background-color:rgb(19, 1, 68), 93, 252;
    padding: 20px;
  }
  
  .backgroung_art {
    backdrop-filter: blur(3px);
    padding: 20px;
  }
  .main_me.text {
    font-size: 1em;
    color: #c5c5c5;
}
  .art {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .article-list {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    justify-self: center;

}
  .backgroung_art h2 {
    color: #a279b5;
    text-align: center;
    justify-self: center; 
    
  }
  .article-list h3 {
    margin-bottom: 10px;
  }
  
  .article-list a {
    margin-bottom: 10px;
    color: #a279b5;

  }
  
  .article-list img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
  }

  main {
    background-image: url(wallpapersden.com_building-lights-illustration-artstic_7680x4320.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url(wallpapersden.com_building-lights-illustration-artstic_7680x4320.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .social-list-item {
    margin: 0 10px;
    color: #9f00e9;
  }